<h1>Editing <br/><span class='text-muted'><%= @news.title.titleize %></span></h1>

<%= render 'form', news: @news %>

<br/>

<%= link_to @news, :class => "btn btn-success btn-md" do %>
<i class="fas fa-eye"></i> Show
<% end %>

<%= link_to news_index_path, :class => "btn btn-dark btn-md" do %>
<i class="fas fa-newspaper"></i> Back to News
<% end %>
